@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --color-one: #FF8484;
  --color-two: #F7D9C4;
  --color-three: #1C2025;
  --color-text: #232323;
  --bg-2: #FFFFFF;
  --bg-1: #EFEFEF;
  --bg-3: #DCE8EB;
  --bg-4: #EFEFEF;
  --bg-5: #DEE8EA;
  --font: "DM Sans", sans-serif;
}

body {
  font-family: var(--font);
  color: var(--color-text);
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}